# Flutter/Dart
*.dart_tool/
*.idea/
*.iml
build/
.flutter-plugins
.flutter-plugins-dependencies

# Firebase
lib/firebase_options.dart

# Platform-specific build directories
android/
gradle/
ios/Flutter/
linux/flutter/
macos/Flutter/
windows/flutter/

# Other sensitive files
*.env
*.key