<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323023002582-qap9a7ekno503jsjgag7bs6a125p0ibr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323023002582-qap9a7ekno503jsjgag7bs6a125p0ibr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>323023002582-l71l1cigtruegdi0i4aro9q7dbo0bd5o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAt4NY4-N9QaO2h0q7vX_wT-dznSnfGnmM</string>
	<key>GCM_SENDER_ID</key>
	<string>323023002582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tailorCustomerManager</string>
	<key>PROJECT_ID</key>
	<string>tailor-customer-manager-b25ba</string>
	<key>STORAGE_BUCKET</key>
	<string>tailor-customer-manager-b25ba.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323023002582:ios:f55aa1f4e5e0bcba942277</string>
</dict>
</plist>